@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/galaxy-planets-digital-art\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
}

.container{
    width: 420px;
    background-color: rgba(9, 36, 85, 0.137);
    backdrop-filter: blur(24px);
    border: 1.5px solid rgba(255, 255, 255, 0.39);
    border-radius: 16px;
    color: white;
    padding: 30px 40px;
    box-shadow: rgb(1, 6, 31) 0px 20px 30px -10px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.151);
}

.container h1{
    font-size: 32px;
    text-align: center;
}

.inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}

.inputBox input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.171);
    outline: none;
    font-size: 16px;
    color: white;
    padding:  20px 45px 20px 20px;
    border-radius: 16px;
}

.inputBox input::placeholder{
    color: rgba(168, 179, 196, 0.685);
}

.inputBox i{
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.rememberForgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    font-weight: 100;

}

.rememberForgot label input{
    accent-color: white;
    margin-right: 5px;
}

.rememberForgot a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.rememberForgot a:hover{
    text-decoration: underline;
    color: white;
}

.login{
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: all 0.4s;
    margin-top: 16px;
}

.login:hover{
    background-color: rgba(92, 195, 255, 0.219);
    border: 2px solid rgba(255, 255, 255, 0.438);
    color: white;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.432);
    transform: translateY(-6px);
}

.registerLink{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
    font-weight: 300;
}

.registerLink a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.registerLink a:hover {
    color: white;
    text-decoration: underline;
}

/*TEXTO BRILHANTE UI VERSE*/

/* From Uiverse.io by neerajbaniwal */ 

.btn-shine{
  color: #fff;
  background: linear-gradient(to right, #89a2d8 0, #fff 10%, #89a2d8 20%);
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 280px;
  }
  100% {
    background-position: 280px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 280px;
  }
  100% {
    background-position: 280px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 280px;
  }
  100% {
    background-position: 280px;
  }
}
